<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiading.modules.back.mapper.XmXmlxMapper">

    <resultMap id="BaseResultMap" type="com.jiading.modules.back.domain.XmXmlx">
            <id property="pid" column="pid" jdbcType="INTEGER"/>
            <result property="xmlxid" column="xmlxid" jdbcType="INTEGER"/>
            <result property="xmid" column="xmid" jdbcType="INTEGER"/>
            <result property="sczk" column="sczk" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        pid,xmlxid,xmid,
        sczk
    </sql>
</mapper>
